$background: #FCFCF8;
$dark-gray: #19262E;
$light-gray: #2A3C46;
$link-color: #2D7B5E;
$border-gray: #ADC1CD;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Slabo 27px', sans-serif;
  background-color: $background;
  color: $light-gray;
}

section {
  padding-bottom: 20px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 40px auto 32px auto;
  padding-bottom: 3px;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;

  border-bottom: 1px solid $light-gray;
}

.about-title {
  width: 120px;
}

.skills-title {
  width: 120px;
}

.contact-title {
  width: 124px;
}

a {
  color: $link-color;

  &:visited {
    color: $link-color;
  }

  .fab, .fas, .far {
    color: $light-gray;
  }
}

p {
  margin-top: 0;

  line-height: 1.4em;
}

hr {
  border: none;
}

hr.show {
  border: 1px solid $border-gray;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.main-container {
  height: 100vh;
}

.column-2 {
  width: 50%;
  height: 100%;
}

.column-3 {
  width: 33%;
}

#me {
  overflow: hidden;
  background-image: url('../assets/ryan-headshot.jpg');
  background-size: cover;
  background-position-x: center;
}

#mobile-heading {
  width: 100%;
  text-align: center;
  padding-top: 20px;

  .mobile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 16px;
  }
}

footer {
  margin-top: 10px;
  font-size: .8rem;
  text-align: center;
}

#about {
  overflow-y: scroll;
  padding: 80px 40px;
  padding-bottom: 20px;
  position: -webkit-sticky;
  position: sticky;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  color: $dark-gray;

  h1 {
    font-family: 'Source Code Pro', monospace;
    animation: type 2s steps(13, end);
    font-size: 2.5rem;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    width: 19.5rem;
  }

  h2 {
    margin-top: 16px;
  }
}

.connect-icon {
  margin-top: 20px;
  margin-right: 20px;

  .fas,
  .fab,
  .far {
    font-size: 24px;
  }
}

.description, 
.skills,
.contact {
  font-size: 18px;
  text-align: center;
}

.skills {
  font-size: 16px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 4px;
}

.fas,
.fab {
  font-size: 48px;
}

.skill {
  padding: 10px;
}

@keyframes type {
  from { width: 0; }
}

@keyframes blink {
  to { opacity: 0; }
}

@media only screen and (min-width: 993px) {
  #me {
    display: block;
  }

  #mobile-heading {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .main-container {
    height: 100%;
  }

  #me {
    display: none;
  }

  #about {
    position: initial;
    overflow-y: auto;
    padding-top: 0;

    .heading {
      display: none;
    }
  }

  #mobile-heading {
    display: block;
  }

  .heading h1 {
    font-size: 1.8rem;
    width: 14rem;
  }

  .column-2,
  .column-3 {
    width: 100%;
  }
}
